<!DOCTYPE html>
<br>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<title>EAT-DA-BURGER</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/burger.js"></script>
</head>
<body style="background-color: #FF4136">
	<div class="burgerImg" style="text-align: center">
		<h1>Eat-Da-Burger: Da Sequel!</h1>
		<img src="assets/img/burger.PNG" width="400" height="300">
	</div>
	<div class="mainBody">
		{{{ body }}}
	</div>
</body>
</html>

